*.DS_Store
node_modules
dist
styles.min.css
styles.min.css.map
coverage
npm-debug.log
.out
yarn-error.log
.cache
.temp

# Cypress
cypress/videos
cypress/results
cypress/screenshots

### yarn ###
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
# !.yarn/cache

# and uncomment the following lines
.pnp.*
